{{!--
  Depends on: css/pages/requirements.css, js/pages/requirements.js
  Dynamic classes: reqman-requirements-status-badge--{variant}
--}}

{{!-- ============================================================
     MAIN PAGE COMPOSITION
     Assembles all partials into the complete page structure
     ============================================================ --}}
{{#*inline "page"}}
<div class="reqman-requirements-page">
  {{> requirements/_page_header}}
  <div class="reqman-requirements-main">
    {{> requirements/_metrics_section}}
    {{> requirements/_filter_controls}}
    {{> requirements/_card_view}}
    {{> requirements/_table_view}}
    {{> requirements/_tree_view}}
  </div>
</div>
{{/inline}}

{{> layout page_id="requirements"}}
