{{!-- Depends on: css/50-components/dashboard.css --}}
<div class="card dashboard-card c-card">
  <div class="card-header c-card__header">
    <h3>
      {{title}}
      {{#if badge}}
        <span class="badge {{#if badge_class}}{{badge_class}}{{else}}bg-primary{{/if}}">
          {{badge}}
        </span>
      {{/if}}
    </h3>
  </div>
  <div class="card-body c-card__body">
    {{> @partial-block}}
  </div>
</div>
