{{!-- Depends on: css/50-components/dashboard.css --}}
<div class="marreq-sidebar__footer">
  <div class="marreq-user-info">
    <div class="marreq-user-info__avatar">
      <i class="fas fa-user-circle" aria-hidden="true"></i>
    </div>
    <div class="marreq-user-info__details">
      <div class="marreq-user-info__name">
        {{#if user.name}}
        {{user.name}}
        {{else}}
        {{user.username}}
        {{/if}}
      </div>
      <div class="marreq-user-info__email">{{user.email}}</div>
    </div>
    <div class="marreq-user-info__actions">
      <div class="dropdown">
        <button class="marreq-user-menu-toggle btn btn-link p-0" type="button" data-bs-toggle="dropdown"
          aria-expanded="false" title="User menu">
          <i class="fas fa-cog marreq-user-menu-toggle__icon" aria-hidden="true"></i>
          <span class="visually-hidden">User menu</span>
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="/user/profile">
              <i class="fas fa-user me-2"></i> My Profile
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/change_password">
              <i class="fas fa-key me-2"></i> Change Password
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            {{!-- POST form for logout prevents CSRF via state-changing GET (ASVS V3.5.3). --}}
            <form method="POST" action="/logout" style="margin:0">
              <button type="submit" class="dropdown-item text-danger" style="background:none;border:none;width:100%;text-align:left">
                <i class="fas fa-sign-out-alt me-2"></i> Logout
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
