{{!--
  Enhanced Traceability Matrix
  Depends on: css/50-components/tables.css, css/pages/matrix.css, js/pages/matrix.js
  Features: Sticky headers, virtual scrolling, filters, search, grouping, export
--}}
{{#*inline "page"}}
<div class="matrix-header mb-4">
  {{> matrix/_page_header}}
  {{> matrix/_filter_controls}}
</div>

<section
  id="matrix-root"
  data-sort-by="{{current_sort_by}}"
  data-sort-order="{{current_sort_order}}"
  data-status-filter="{{test_status_filter}}"
  data-project-id="{{selected_project_id}}"
  class="matrix-section"
>
  {{> matrix/_table}}
</section>

{{> matrix/_shortcuts_panel}}

{{/inline}}
{{> layout page_id="matrix"}}
