{{!-- Depends on: css/index.css, js/app.js --}}
{{#*inline "page"}}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h3><i class="fas fa-exclamation-triangle"></i> Access Denied</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger">
                        <h5>You don't have permission to access this page!</h5>
                        <p>This area is restricted to administrators only. Please contact your system administrator if you believe you should have access to this feature.</p>
                    </div>
                    
                    <div class="mt-3">
                        <a href="/" class="btn btn-primary">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/inline}}

{{> layout page_id="access_denied"}} 