{{#*inline "page"}}
<div class="mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Applicability</h1>
    <a href="/p/{{selected_project_id}}/new_applicability" class="btn btn-primary">New Applicability</a>
  </div>
</div>

<section id="Applicability">
  {{#each applicability }}
    {{> applicability_item}}
  {{/each}}
</section>
{{/inline}}
{{> layout}} 
