{{#*inline "page"}}

<h1>Requirements Manager</h1>
    <ul>
    <li><a href='requirements'>Show requirements</a></li>
    <li><a href='tests'>Show tests</a></li>
    <li><a href='matrix'>Show matrix</a></li>
    <li><a href='matrix/xls'>Get matrix xls</a></li>     
    <li><a href='/new_requirement'>New Requirement</a></li>  
    <li><a href='/new_test'>New Test</a></li>
    <li><a href='/new_user'>New User</a></li>
    </ul>
{{/inline}}
{{> layout}}