{{#*inline "page"}}

<h1>Requirements Manager</h1>
    <ul>
    <li><a href='requirements'>Show requirements</a></li>
    <li><a href='tests'>Show tests</a></li>
    <li><a href='matrix'>Show matrix</a></li>
    <li><a href='matrix/xls'>Get matrix xls</a></li>       
    </ul>
{{/inline}}
{{> layout}}