<!doctype html>
<html lang='en'>
  <head>
    <title>ReqMan</title>
    <link rel='stylesheet' href='/static/reqman.css'>
    <link rel='icon' type='image/x-icon' href='/static/favicon.ico'>
  </head>
  <body>
    {{> nav}}
    {{~> page}}
    {{> footer}}
  </body>
</html>