<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-brand">ReqMan</a>
    <ul class="nav-menu">
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/requirements" class="nav-link">Requirements</a></li>
      <li><a href="/requirements/tree" class="nav-link">Tree View</a></li>
      <li><a href="/tests" class="nav-link">Tests</a></li>
      <li><a href="/matrix" class="nav-link">Matrix</a></li>
      <li><a href="/reports" class="nav-link">Reports</a></li>
      <li><a href="/categories" class="nav-link">Categories</a></li>
      <li><a href="/applicability" class="nav-link">Applicability</a></li>
      <li><a href="/users" class="nav-link">Users</a></li>
      <li><a href="/change_password" class="nav-link">Change Password</a></li>
      <li><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
    {{#if user}}
    <div class="nav-user">
      <span class="nav-user-name">Welcome, {{user.user_name}}</span>
    </div>
    {{/if}}
  </div>
</nav>
