<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-brand">ReqMan</a>
    <ul class="nav-menu">
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/requirements" class="nav-link">Requirements</a></li>
      <li><a href="/tests" class="nav-link">Tests</a></li>
      <li><a href="/matrix" class="nav-link">Matrix</a></li>
      <li><a href="/categories" class="nav-link">Categories</a></li>
      <li><a href="/applicability" class="nav-link">Applicability</a></li>
      <li><a href="/users" class="nav-link">Users</a></li>
      <li><a href="/new_requirement" class="nav-link">New Requirement</a></li>
      <li><a href="/new_test" class="nav-link">New Test</a></li>
      <li><a href="/new_user" class="nav-link">New User</a></li>
    </ul>
  </div>
</nav>
