{{#*inline "page"}}

<section id="Requirements">
    <h1>Requirement</h2>
    {{#each requirements }}
    {{> requirement linked_tests=../linked_tests}}
    {{/each }}
</section>

{{/inline}}
{{> layout}}