{{#*inline "page"}}
<div class="mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Tests</h1>
    <a href="/new_test" class="btn btn-primary">New Test</a>
  </div>
</div>

<section id="Tests">
  {{#each tests }}
    {{> test}}
  {{/each}}
</section>
{{/inline}}
{{> layout}}


