
<div class="card requirement-card mb-3">
  <div class="requirement-header">
    <div class="requirement-title">
      <h3 class="mb-0">{{user_name}}</h3>
    </div>
  </div>
  <div class="card-footer">
    {{#if show_back_button}}
      <a href="/admin/users" class="btn btn-outline btn-sm">Back to User Management</a>
    {{/if}}
    {{#if show_details_button}}
      <a href="/users/{{user_id}}" class="btn btn-outline btn-sm">View Details</a>
    {{/if}}
    <a href="/edit_user/{{user_id}}" class="btn btn-primary btn-sm">Edit User</a>
  </div>
</div>
