{{!--
  PARTIAL: Page Header
  Breadcrumb navigation, title, view switcher, and action buttons
--}}
<header class="marreq-requirements-header">
  <div class="marreq-requirements-header__meta">
    <nav class="marreq-requirements-breadcrumb" aria-label="Breadcrumb">
      <ol>
        <li><a href="/projects" class="marreq-requirements-breadcrumb__link">Projects</a></li>
        {{#if project.id}}
        <li>
          <a href="/p/{{project.id}}" class="marreq-requirements-breadcrumb__link">{{project.name}}</a>
        </li>
        {{/if}}
        <li aria-current="page" class="marreq-requirements-breadcrumb__current">Verifications</li>
      </ol>
    </nav>
    <div>
      <h1 class="marreq-requirements-header__title">
        {{#if project.name}}
          {{project.name}}
          <span class="marreq-requirements-header__title-accent">verifications</span>
        {{else}}
          Verifications
        {{/if}}
      </h1>
      <p class="marreq-requirements-header__subtitle">
        Comprehensive view of verifications and their status.
      </p>
    </div>
  </div>
  {{> verifications/_view_controls}}
</header>
